
.content-container {
  display: table;
  clear: both;
  content: " ";
}

.about {
  background: #f0e7e7;
}

h1 {
  text-align: center;
  color: #e77d11;
}
h2 {
  text-align: center;
}

li {
  list-style: none;
}

.about-header {
  background: #451804;
  color: white;
  padding: 10px;
  margin-left: 0px;
}

.button {
  padding: 12px 20px;
  width: 150px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  border: solid 2px #fda600;
  color: #fda600;
  text-decoration: none;
  margin-left: 10%;
}

.button:hover {
  background: linear-gradient(to bottom, #fda600 0%, #c1440e 100%);
  text-decoration: none;
  color: white;
}

#stats-details {
  width: 80%;
  margin: auto;
}

#stats-details ul{
  margin-left: -15px;
  padding-right: 10px;
}

#about-details ul {
width: 80%;
display: inline-block;
margin: auto;
text-align: justify;
}

#stats-details h2 {
  background: #451804;
  color: white;
  padding: 10px;
}

#about-details strong {
  color: #c1440e;
}

#about-details h3 {
  color: #451804;
}

.stats-img img {
  max-width: 100%;
}

@media only screen and (min-width: 760px) {

.stats {
  width: 75%;
  margin: auto;
}

.stats-img {
  float: left;
  margin: 2% 0;
}

#about-details {
  width: 90%;
  margin: auto;
}

#about-details ul {
  width: 22%;
  float: left;
  margin: 5px 15px;
  padding-left: 0px;
  height: 350px;
  min-height: 350px;
  overflow:auto;
}

#stats-details {
width: 30%;
display: inline-block;
  float: right;
}

}
