nav ul { list-style: none; margin: 0; padding: 0; }
nav ul li { display: inline-block;:after }
nav ul li:after { content: ' | ';  }
.row:not(.heading) { margin-bottom: 15px; }
.inner { min-height: 200px; border: solid 1px gray; }
.row.nested { margin: 0; }
.row.nested .col:last-child { min-height: 200px; }
