.inner{ border-radius: 2px; }
.inner.photos { background-color: rgba(0, 0, 0, .5); border-radius: 2px; }

.row.nested { margin: 0; }
.row.nested .col:last-child { min-height: 150px; position: relative; }
.nest { position: absolute; top: 50%; transform: translateY(-50%); width: 100%; left: 0; padding: 0 15px; }

#details .nested {
  font-size: 1.25em;
}

#details .nested p {
  margin-bottom: 0;
}

#details > .col:last-child { margin-bottom: 24px; }

#cd-timeline { width: 100%; }

.command-view {
  background-color: #000;
  background-image: url("/img/marsbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

@media screen and (min-width: 992px) {
  .command-view {
    background-size: calc(162.5%);
    background-position: -25px -50px;
  }
  #wrapper {
    height: calc(100vh + 70px);
  }
}

@media screen and (max-width: 991px) {
  .inner {
    margin-bottom: 24px;
  }
}

#wrapper {
  margin: 0 15px;
}

.max-temp{
  background-color: rgba(188,90,96,0.85);
  background: -moz-linear-gradient(top, rgba(188,90,96,0.85) 0%, rgba(247,74,74,0.85) 50%, rgba(189,97,105,0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(188,90,96,0.85) 0%, rgba(247,74,74,0.85) 50%, rgba(189,97,105,0.85) 100%);
  background: linear-gradient(to bottom, rgba(188,90,96,0.85) 0%, rgba(247,74,74,0.85) 50%, rgba(189,97,105,0.85) 100%);
}

.min-temp{
  background: rgba(179,220,237,0.85);
  background: -moz-linear-gradient(top, rgba(179,220,237,0.85) 0%, rgba(41,184,229,0.85) 50%, rgba(188,224,238,0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(179,220,237,0.85) 0%, rgba(41,184,229,0.85) 50%, rgba(188,224,238,0.85) 100%);
  background: linear-gradient(to bottom, rgba(179,220,237,0.85) 0%, rgba(41,184,229,0.85) 50%, rgba(188,224,238,0.85) 100%);
}

.earthSol{
  background: rgb(231,125,17,0.85);
  background: -moz-linear-gradient(top, rgba(231,125,17,0.85) 50%, rgba(193,68,14,0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(231,125,17,0.85) 50%, rgba(193,68,14,0.85) 100%);
  background: linear-gradient(to bottom, rgba(231,125,17,0.85) 50%, rgba(193,68,14,0.85) 100%);
}

.pressure{
  background: rgba(206,220,231,0.85);
  background: -moz-linear-gradient(top, rgba(206,220,231,0.85) 0%, rgba(89,106,114,0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(206,220,231,0.85) 0%, rgba(89,106,114,0.85) 100%);
  background: linear-gradient(to bottom, rgba(206,220,231,0.85) 0%, rgba(89,106,114,0.85) 100%);
}

#date-details { float: left; padding-top: 20px; }
#camera-filter { margin-bottom: 20px; }
@media screen and (min-width: 992px) {
  #camera-filter { width: auto; }
}
.photos { padding: 24px 0; position: relative; }
.photos .slick-slide { margin: 0 15px; height: auto; }


.slick-prev, .slick-next { width: 48px; height: 48px; }
.slick-prev:before, .slick-next:before { font-size: 48px; }
.slick-prev { left: 0; z-index: 1; }
.slick-next { right: 0; }
