.row:not(.heading) { margin-bottom: 15px; }
.inner { min-height: 200px; border: solid 1px gray; }
.row.nested { margin: 0; }
.row.nested .col:last-child { border-left: solid 1px gray; min-height: 200px; }
